@using Data.DTOs
@model EmailTemplateModel

<!DOCTYPE html>
<html>

<head>
    <style>
        body {
            font-family: Arial, sans-serif;
            line-height: 1.6;
        }

        .container {
            max-width: 600px;
            margin: 20px auto;
            padding: 20px;
            border: 1px solid #ddd;
            border-radius: 10px;
        }

        h2 {
            color: #333;
        }

        p {
            font-size: 16px;
        }

        .btn {
            display: inline-block;
            padding: 10px 20px;
            background: #007bff;
            color: white !important;
            text-decoration: none;
            border-radius: 5px;
        }

        .btn:hover {
            background: #0056b3;
        }
    </style>
</head>
<div class="container">
    <h2>Đặt lại mật khẩu</h2>
    <p>Xin chào @Model.FullName,</p>
    <p>Vui lòng nhấn nút dưới đây để tạo lại mật khẩu:</p>
    <p><a href="@Model.VerificationLink" class="btn">Thiết lập mật khẩu ngay</a></p>
</div>
</body>

</html>